<!DOCTYPE html><!--que es html 5-->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo"
        width="300px"/>
        <nav>
            <ul>
                <li>
                    ofertas
                </li>
                <li>
                    tiendas oficiales
                </li>
                <li>
                    vender
                </li>
                <li>
                    ayuda
                </li>
                <li>
                    Crea tu cuenta
                </li>
                <li>
                    Ingresa
                </li>
                <li>
                    Mis compras
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Seccion: en tu ultima visita</h1>
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera"
        width="200px"/>
        <p>
            $6.770<br/>
            40% off <br/>
            cafetera Moulinex
        </p>
        <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook"
        width="200px"/>
        <p>
            
            $230.000<br/>
            20% off<br/>
            MacBook Pro 2019
        </p>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy"
        width="200px"/>
        <p>
        
        $70.500 <br/>
        10% off <br/>
        Samsung Galaxy S10
        </p>
        <img src="/img/img-tv-samsung-smart.jpg" alt="smart"
        width="200px"/>
        <p>
            
            $23.200 <br/>
            5% off <br/>
            SmartTv Samsung 43"
        </p>
        </section>
        <section>
            <h1>Seccion de ofertas</h1>
            
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera"
        width="200px"/>
        <p>
            $6.770<br/>
            40% off <br/>
            cafetera Moulinex
        </p>
        <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook"
        width="200px"/>
        <p>
            
            $230.000<br/>
            20% off<br/>
            MacBook Pro 2019
        </p>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy"
        width="200px"/>
        <p>
       
        $70.500 <br/>
        10% off <br/>
        Samsung Galaxy S10
        </p>
        <img src="/img/img-tv-samsung-smart.jpg" alt="smart"
        width="200px"/>
        <p>
            
            $23.200 <br/>
            5% off <br/>
            SmartTv Samsung 43"
        </p>
        </section>
    </main>
    <footer>
        <ul>
            <li>
                <b> Pagá con tarjeta o en efectivo<br/></b>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </li>
            <li>
                <b>Envío gratis desde $ 2.500<br/></b>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos
            </li>
            <li>
                <b>Seguridad, de principio a fin<br/></b>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            </li>
            <li>
                <b>Copyright &copy; 1999-2020<br/></b>
                MercadoLiebre S.R.L.
            </li>
        </ul>
    </footer>
</body>
</html>